function uploadPhoto() {
  const input = document.getElementById('photoInput');
  const gallery = document.getElementById('gallery');

  if (input.files && input.files[0]) {
    const reader = new FileReader();
    reader.onload = function(e) {
      const img = document.createElement('img');
      img.src = e.target.result;
      gallery.appendChild(img);
    }
    reader.readAsDataURL(input.files[0]);
  } else {
    alert("कृपया एक फोटो निवडा!");
  }
}
